.footer{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}
.footer-logo{
    display: flex;
    gap: 20px;
    align-items: center;
}
.footer-links{
    display: flex;
    list-style: none;
    align-items: center;
    gap: 20px;
}
.footer-social-links{
    display: flex;
    gap: 30px;
}

.footer hr{
   width: 80%;
   height: 2px;
   border-radius: 10px;
   background-color: gray;
}
